html, body {
	margin: 0;
	height: 100%;
	font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
    color: white;
    text-align: center;
    padding: 2em;
    background: #691A99;
    margin: 0;
}

h2{
	color: white;
	text-align: center;
	padding: 2em;
	background: #7A1EA1;
	margin: 0;
	margin-bottom: 1em;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

h3 {
	color: white;
	text-align: center;
	padding: 2em;
	background: #7A1EA1;
	margin: 0;
	font-family: 'Roboto:100', sans-serif;
	font-weight: normal;

}

button {
	background: transparent;
	color: black;
	border: .05em solid;
	opacity: 54%;
	font-size: 20px;
	padding: .5em .75em;
  margin: 2em;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

#modalStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: #fff;
}

#backdropStyle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9998;
  background: rgba(0,0,0,0.3);

}

#timeface {
	fill: rgba(0,0,0,0.1);
}

.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

.close {
  margin: 1em;
  margin-top: 0;
}

.timepicker-bubble,
.timepicker-bubble00 {
    cursor: pointer;
}

.timepicker-bubble circle,
.timepicker-bubble00 circle {
    r: 20;
    fill: transparent;
}

.timepicker-bubble.small circle {
    r: 0;

    fill: none;
}

.timepicker-bubble.small:hover circle,
.timepicker-bubble.small.active circle {
    r: 5;

}

.timepicker-bubble.small circle + circle {
    r: 5;

    fill: transparent;
}

.timepicker-bubble:hover circle,
.timepicker-bubble.active circle,
.timepicker-bubble00:hover circle,
.timepicker-bubble00.active circle {
    opacity: 1;
    fill: #00BCD4;
}

.timepicker-bubble text,
.timepicker-bubble00 text  {
    fill: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: middle;
}

.timepicker-bubble00 text {
  font-size: smaller;
}