html, body {
	margin: 0;
	height: 100%;
	font-family: 'Roboto', sans-serif;
  	text-align: center;
}

h1 {
    color: white;
    text-align: center;
    padding: 2em;
    background: #691A99;
    margin: 0;
}

h2{
	color: white;
	text-align: center;
	padding: 2em;
	background: #7A1EA1;
	margin: 0;
	margin-bottom: 1em;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

h3 {
	color: white;
	text-align: center;
	padding: 2em;
	background: #7A1EA1;
	margin: 0;
	margin-bottom: 1em;
	font-family: 'Roboto:100', sans-serif;
	font-weight: normal;

}

button {
	background: transparent;
	color: black;
	border: .05em solid;
	opacity: 54%;
	font-size: 20px;
	padding: .5em .75em;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

#modalStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: #fff;
}

#backdropStyle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9998;
  background: rgba(0,0,0,0.3);

}

#timeface {
	fill: rgba(0,0,0,0.1);
}

.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

/*#00BCD4*/

.timepicker {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.timepicker-bubble {
    cursor: pointer;
}

.timepicker-bubble circle {
    r: 20;

    fill: transparent;
    opacity: 0.75;
}

.timepicker-bubble.small circle {
    r: 0;

    fill: none;
}

.timepicker-bubble.small.active circle {
    r: 5;

}

.timepicker-bubble.small circle + circle {
    r: 10;

    fill: transparent;
}

.timepicker-bubble:hover circle,
.timepicker-bubble.active circle {
    opacity: 1;
    fill: #00BCD4;
}

.timepicker-bubble text {
    fill: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    text-anchor:       middle;
    dominant-baseline: middle;
}

.timepicker-hand {
    opacity: 1;

    stroke: #00BCD4;
    stroke-width: 2;
    stroke-linecap: round;

}

.timepicker-visible,
.timepicker-invisible {
    -webkit-transform-origin: center;
       -moz-transform-origin: center;
        -ms-transform-origin: center;
         -o-transform-origin: center;
            transform-origin: center;

    -webkit-transition: opacity 0.5s linear, visibility 0.5s linear, -webkit-transform 0.25s linear;
            transition: opacity 0.5s linear, visibility 0.5s linear, -webkit-transform 0.25s linear;
       -moz-transition: opacity 0.5s linear, transform 0.25s linear, visibility 0.5s linear, -moz-transform 0.25s linear;
         -o-transition: opacity 0.5s linear, transform 0.25s linear, visibility 0.5s linear, -o-transform 0.25s linear;
            transition: opacity 0.5s linear, transform 0.25s linear, visibility 0.5s linear;
            transition: opacity 0.5s linear, transform 0.25s linear, visibility 0.5s linear, -webkit-transform 0.25s linear, -moz-transform 0.25s linear, -o-transform 0.25s linear;
}



.timepicker-info {
    color: #bac0c5;

    margin: 0;

    font-size:    2em;
    line-height:  1em;
    font-weight: bold;

    text-align: center;
}

.timepicker-info-digits {
    cursor: pointer;
}

/*color of the active digits*/
.timepicker-info-digits.active {
    color: #691A99;
}








/*Only to style the example*/
.timepicker-invisible {
    opacity: 0;

    visibility: hidden;

    -webkit-transform: scale(0.75);
       -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
         -o-transform: scale(0.75);
            transform: scale(0.75);
}

.timepicker-visible {
    opacity: 1;

    visibility: visible;

    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}