html, body {
	margin: 0;
	height: 100%;
}

body {
	background-color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

#timepicker {
	margin:50px;
}

#button {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 2em;
}

#button div {
	width: 100%;
}

#button div div {
	height: 100%;
}

#button div div div {
	position: relative;
	height: auto;
}


h1 {
    color: white;
    text-align: center;
    padding: 2em;
    background: #691A99;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h2,h3 {
	color: white;
	text-align: center;
	padding: 2em;
	background: #7A1EA1;
	margin: 0;
	margin-bottom: 1em;
	font-family: 'Roboto:100', sans-serif;
	font-weight: normal;

}



button {
	background: transparent;
	color: black;
	border: .05em solid;
	opacity: 54%;
	font-size: 20px;
	padding: .5em .75em;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	letter-spacing: .1em
	margin:2em;
}

